*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(194, 157, 157);
    /* position: absolute; */
}
.container1{
    width: 38vw;
    height: 80vh;
    background-color: gold;
    position: relative;
    left: 30vw;
    top: 3vh;
   
}
.item1{
    width: 28vw;
    height: 15vh;
    background-color: lightgreen;
    position: relative;
    left: 4.9vw;
}
img{
    width: 15vw;
    height: 10vh;
    position: relative;
    left: 6.1vw;
    top: 2vh;
}

.item2{
    width: 28vw;
    height: 8vh;
    background-color: lightsalmon; 
    position: relative;
    left: 4.9vw;
    top: 1vh;
}
#nm{
    width: 28vw;
    height: 8vh;
    padding-left: 1vw;
    border: 1px solid rgb(11, 11, 204);
    border-radius: .7em;
    /* outline: none;  */
}

input:focus{
    outline: none !important;
    border: 3px solid red;
    box-shadow: 0 0 2px #719ECE; 
}


.item3{
    width: 28vw;
    height: 8vh;
    background-color: rgb(9, 192, 79);      
    position: relative;
    left: 4.9vw;
    top: 2vh;
}
#pass{
    width: 28vw;
    height: 8vh;
    padding-left: 1vw;
    border: none;
    border: 1px solid rgb(11, 11, 204);
    border-radius: .7em; 
}
.item4{
    width: 28vw;
    height: 8vh;
    background-color: rgb(39, 138, 196);      
    position: relative;
    left: 4.9vw;
    top: 3vh;
}
#login{
    width: 28vw;
    height: 8vh;
    background-color: #0e73f7;
    border: none;
    border: 1px solid greenyellow;
    border-radius: .7em; 
    font-size: 1.15em;
    font-weight: bold;
    color: aliceblue;
    line-height: 3em;
    cursor: pointer;
}


.h_line {
    /* border-bottom: 1px solid rgb(168, 152, 155); */
    height: 4vh;
    width: 28vw;
    background-color: red;
    position: relative;
    top: 7vh;
    left: 4.9vw;
} 
.hr1{
    border-bottom: 1px solid rgb(179, 12, 43);
    position: relative;
    top: 2vh;
    width: 13vw;
}
.hr2{
    height: 4vh;
    width: 3vw;
    background-color: blue;
    
}
span{
    height: 4vh;
    width: 3vw;
    text-align: center;
    position: relative;
    left: 13vw;
}





input::placeholder{
    font: 14px/3 sans-serif;
    font-weight: bold;
    opacity: 0.5;
    border-radius: 10px;
    
    
}
    
   